{% extends "inventory_app/base_template.html" %}

 
{% block content %}

<h1 class="text-center p-3">{{ object.owner.user.username }}'s Inventory</h1>


<div class="container-fluid">
<div class="row">

<div class="col-md-3">
    <div class="card" style="width: 235px;">
        <div class="card-body bg-secondary bg-opacity-25">
            <form method="GET">

                    <strong><label for="{{ item_filter.form.name.id_for_label }}">Item Name:</label></strong>
                    {{ item_filter.form.name }}
                    <br>
                    <br>
                    <strong><label for="{{ item_filter.form.tags.id_for_label }}">Category:</label></strong>
                    {{ item_filter.form.tags }}
                    <br>

                <button class="btn btn-secondary mx-2" type="submit">Search</button>
                <a href="{% url 'inventory-detail' inventory.id %}" class="btn btn-outline-secondary bg-white">Clear</a>
            </form>
        </div>
    </div>
</div>




<div class="col-md-8 d-flex justify-content-center">

    <div class="card" style="width: 700px;">
        <h2 class="text-center p-1">Item List</h2>

        <div class="d-flex justify-content-center mx-0 my-2">
            {% if request.user.is_authenticated %}
                <a class="btn btn-success" style="width: 320px; font-size: 18px" href="{% url 'create_item' request.user.owner.inventory.id %}" role="button">New Item</a>
            {% endif %}
        </div>

        <div class="card-body" style="padding: 30px;">



        {% if items %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Tags</th>
                <th scope="col">View</th>
                {% if request.user.is_authenticated %}
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>

                <td>{{ item.name }}</td>
                <td>
                    {% for tag in item.tag.all %}
                        <p class="badge text-decoration-none bg-secondary">
                            {{tag.name}}
                        </p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary m-2" style="font-size: 18px;" role="button">View</a>
                </td>

                {% if request.user.is_authenticated %}
                    <td><a href="{% url 'update_item' item.inventory.id item.id %}" class="btn btn-secondary m-2" style="font-size: 18px;" role="button">Update</a></td>
                    <td><a href="{% url 'delete_item' item.inventory.id item.id %}" class="btn btn-danger m-2" style="font-size: 18px;" role="button">Delete</a></td>
                {% endif %}
            
                </tr>
                {% endfor %}
            </tbody>
        </table>

                

        {% else %} 
            <p class="text-center" style="font-size: 20px;">No items have been added to this inventory.</p>
        {% endif %}
    
    </div>

</div>

</div>


{% endblock %}