{% extends "inventory_app/base_template.html" %}

 
{% block content %}

<h1>{{ object.owner.user.username }}'s Inventory</h1>

<div class="card">
    <div class="card-body bg-secondary bg-opacity-25">
        <form method="GET">
            <div class="form-group">
                <label for="{{ item_filter.form.name.id_for_label }}">Item Name:</label>
                {{ item_filter.form.name }}
            </div>

            <div class="form-group">
                <label for="{{ item_filter.form.category.id_for_label }}">Category:</label>
                {{ item_filter.form.category }}
            </div>

            <button class="btn btn-secondary" type="submit">Search</button>
            <a href="{% url 'inventory-detail' inventory.id %}" class="btn btn-outline-secondary bg-white">Clear</a>
        </form>
    </div>
</div>


    <h2>Items:</h2>
    <ul>
        {% for item in items %}
            <li>{{ item.name }} - {{ item.description }} - {{ item.inventory }}</li>
        {% endfor %}
    </ul>


<body class="bg-light">
    <div class="container-fluid mx-3">
        <br>
        <h2>Item List</h2>
        <br>

    
        {% if items %}
            <div class="card-columns">
                {% for item in items %}
                    <div class="card me-4" style="max-width: 320px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 25px;">{{ item.name }}</h5>

                            <div>
                                {% for tag in item.tag.all %}
                                    <p class="badge text-decoration-none bg-secondary">
                                        {{tag.name}}
                                    </p>
                                {% endfor %}
                            </div>


                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary me-2" style="font-size: 18px;" role="button">View</a>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'update_item' item.inventory.id item.id %}" class="btn btn-secondary m-2" style="font-size: 18px;" role="button">Update</a>
                                <a href="{% url 'delete_item' item.inventory.id item.id %}" class="btn btn-danger m-2" style="font-size: 18px;" role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %} 
            <p style="font-size: 20px;">No items have been added to your inventory.</p>
        {% endif %}
        <div class="mx-0 my-2">
            {% if request.user.is_authenticated %}
                <a class="btn btn-success" style="width: 320px; font-size: 18px" href="{% url 'create_item' request.user.owner.inventory.id %}" role="button">New Item</a>
            {% endif %}
        </div>
        
    </div>
    </body>


{% endblock %}