{% extends 'inventory_app/base_template.html' %}

{% block content %}



<div class="container min-vh-100 d-flex align-items-center justify-content-center" style="font-size: 18px;">

    <div class="card" style="width: 850px;">
        {% if action_type == 'create' %}
            <h3 class="text-center p-3">Create Item</h3>
        {% elif action_type == 'update' %}
            <h3 class="text-center p-3">Update Item</h3>
        {% endif %}
        
        <div class="card-body" style="padding: 60px;">

            <form action="" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" name="Submit">
            </form>


        </div>
    </div>
</div>



{% endblock %}
