{% extends 'inventory_app/base_template.html' %}


{% block content %}
<body class="bg-light">
<div class="container-fluid mx-3 my-3 bg-light" style="max-width: 400px; font-size: 18px">

    <p><strong>Name: </strong> {{ item.name }}</p>
    <p><strong>Price: </strong> ${{ item.price }}</p>

    {% if item.serial_number %}
        <p><strong>Serial Number: </strong> {{ item.serial_number }}</p>
    {% endif %}

    {% if item.description %}
        <p><strong>Description: </strong> {{ item.description }}</p>
    {% endif %}

    {% if item.image %}
        <img src="{{ item.image.url }}" width=300>
    {% endif %}

    <br>
    <br>
    <a class="btn btn-secondary" style="width: 320px; font-size: 18px" href="{% url 'inventory-detail' item.inventory.id %}" role="button">Back To Inventory</a>

</div>
</body>
{% endblock %}