<!-- inherit from base.html -->
{% extends 'inventory_app/base_template.html' %}

{% block content %}

  <!-- doesn't work correctly - do not want to do all messages-->
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}

  

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}


  <div class="container min-vh-100 d-flex align-items-center justify-content-center">
    
    <div class="card">
      <h3 class="text-center p-3">Login</h3>
      <div class="card-body" style="padding: 60px;">

        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <tr>
              
              <td><p>{{ form.username.label_tag }}</p></td>
              <td><p>{{ form.username }}</p></td>
              
            </tr>
            <tr>
              
              <td><p>{{ form.password.label_tag }}</p></td>
              <td><p>{{ form.password }}</p></td>
              
            </tr>
          </table>
          <input type="submit" value="login">
          <input type="hidden" name="next" value="{{ next }}">
          <br>
          <br>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <p>Don't have an account? <a href="{% url 'register_page' %}">Register</a></p>
        </form>
      </div>

    </div>
  </div>



{% endblock %}
